@font-face {
    font-family: systemFont;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

html,
body {
    height: 100%;
    font-family: systemFont !important;
}

.div-loader {
    top: 0px;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999999;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
        width: 40px;
        height: 40px;
    }
}

textarea {
    resize: none;
}

.image-upload,
.image-uploaded {
    height: 200px;
    width: 200px;
    cursor: pointer;

    &:hover {
        border: 1px solid #007bff;
    }
}

.bg-system-image {
    background-image: url("../../assets/images/system/body_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card-button:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.1);
}

/* TIMELINE */
#crumbs-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
    margin-top: 5%;
}

.crumb-holder {
    position: relative;
}

.crumb-marker {
    background-color: #fff;
    border: 8px solid #a0a0a0;
    border-radius: 50%;
    height: 30px;
    margin: auto;
    width: 30px;
}

.crumb-label {
    font-size: 12px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: -80%;
    transform: translate(-50%, -50%);
}

.crumb-label > a {
    color: #000;
}

.crumb-bridge {
    border: 3px solid #a0a0a0;
    height: 1px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 12px;
    width: 100%;
}

.completed {
    border-color: #00b300;
}

.inprogress {
    border-color: orange;
}

.requiresupdate {
    border-color: #c00;
}

.active-label {
    font-weight: 900;
}

.completed-date,
.crumb-status {
    font-size: 10px;
    white-space: nowrap;
}

.crumb-status {
    color: #fff;
    font-weight: 900;
    padding: 2px 8px;
    text-align: center;
}

.crumb-status.completed {
    background-color: #00b300;
}

.crumb-status.inprogress {
    background-color: orange;
}

.crumb-status.requiresupdate {
    background-color: #c00;
}

.crumb-details {
    font-size: 10px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 55px;
    transform: translate(-50%, -50%);
}

.vertical-crumb-header {
    padding: 18px;
}

.display-horizontal {
    display: block;
}

.display-vertical {
    display: none;
}

@media only screen and (max-width: 992px) {
    #crumbs-container {
        margin-top: 65px;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 992px) {
    .crumb-label {
        font-size: 2vw;
        position: relative;
        text-align: left;
    }

    .display-vertical {
        display: block;
    }

    .display-horizontal {
        display: none;
    }

    .crumb-marker {
        background-color: #fff;
        border: 6px solid #a0a0a0;
        border-radius: 50%;
        height: 26px;
        margin: auto;
        width: 26px;
    }

    .completed {
        border-color: #00b300;
    }

    .inprogress {
        border-color: orange;
    }

    .requiresupdate {
        border-color: #c00;
    }
}

.bg-primary-system {
    background-color: #004687 !important;
}

/* .bg-primary-system {
    background-color: #115272;
} */

.text-decoration-underline {
    text-decoration: underline !important;
}

.file-drop-area {
    width: 100%;
    max-width: 100%;
    height: 250px;
    padding: 25px;
    border: 1px dashed rgb(85, 19, 19);
    border-radius: 3px;
    transition: 0.2s;
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

#file-to-view,
#file-to-upload {
    width: 100%;
    max-width: 100%;
    height: 250px;
    border-radius: 3px;
    transition: 0.2s;
}

.modal-upload-body {
    max-height: 90vh;
    overflow: auto;
}

#div-front-id {
    background: url(../images/system/health_id_front.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 520px !important;

    img {
        width: 90px !important;
        height: 80px !important;
        position: relative;
        top: 95px;
        left: 140px;
    }
}

#div-back-id {
    background: url(../images/system/health_id_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 520px !important;
}

#div-id-data {
    position: relative;
    width: 100%;
    padding: 5px 26px;
    top: 175px;
    height: 130px;
    font-size: 9.5px;
    font-weight: bolder;
    color: #000000;
    .border-bottom {
        border-bottom: 1px solid #000000 !important;
    }
}
